*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Mono", sans-serif;
}

.container{
    padding: 20px 24px;
}

.logo{
    font-family: "Inconsolata", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 25.18px;
    letter-spacing: -.11em;
    text-transform: uppercase;
    color: #333333;
}

.feature-image img{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 44px 24px 60px 24px;
}

.main-info .main-heading{
    font-weight: 700;
    font-size: 48px;
    line-height: 71.09px;
    letter-spacing: -3.5px;
    color: #333333;
}

.main-info p{
    font-weight: 400;
    font-size: 18px;
    line-height: 26.66px;
    color: #4F4F4F;
    padding: 30px 0 66px 0;
}

.main-info .btn{
    background: #333333;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 24px 43px;
    border-radius: 50px;
    box-shadow: 0rem 0.313rem 0.625rem 0rem rgba(0,0,0,0.4);
    -webkit-box-shadow: 0rem 0.313rem 0.625rem 0rem rgba(0,0,0,0.4);
    -moz-box-shadow: 0rem 0.313rem 0.625rem 0rem rgba(0,0,0,0.4);
}

footer{
    padding: 114px 22px 10px 22px;
    font-family: "Montserrat", sans-serif;
    color: #BDBDBD;
    font-weight: 500;
    font-size: 12px;
}

.sign a{
    text-decoration: none;
    color: #BDBDBD;
    font-weight: 700;
}

.sign a:hover{
    color: #4F4F4F;
}

@media only screen and (min-width: 768px){

    .main-wrapper{
        width: 90%;
        margin: 0 auto;
    }

    .container{
        padding: 40px 77px;
    }

    .main-container{
        display: flex;
        padding-top: 0px;
    }

    .feature-image img{
        padding: 44px 114px 0px 0px;
        max-width: 540px;
    }

    .main-info{
        margin-left: 60px;
        flex: 1 1 40w;
    }

    .main-heading{
        max-width: 470px;
        font-size: 64px;
        line-height: 95px;
        padding-top: 60px;
    }

    .main-info p{
        font-size: 24px;
        max-width: 400px;
    }

    footer{
        padding: 20px 22px 10px 22px;
        text-align: center;
    }

}